In [1]:
#Importing Libraries
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [2]:
#Importing data
df = pd.read_csv('insurance.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#Setting sex from string to int (male->0, female->1)
df['sex'] = df['sex'].astype('category')
df['sex'] = df['sex'].cat.reorder_categories(['male', 'female'], ordered=True)
df['sex'] = df['sex'].cat.codes
#Setting smoker from string to int (no->0, yes->1)
df['smoker'] = df['smoker'].astype('category')
df['smoker'] = df['smoker'].cat.reorder_categories(['no', 'yes'], ordered=True)
df['smoker'] = df['smoker'].cat.codes
#Deleting 'region' column
df.drop('region', axis=1, inplace = True)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
age         1338 non-null int64
sex         1338 non-null int8
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null int8
charges     1338 non-null float64
dtypes: float64(2), int64(2), int8(2)
memory usage: 44.5 KB

   age  sex     bmi  children  smoker      charges
0   19    1  27.900         0       1  16884.92400
1   18    0  33.770         1       0   1725.55230
2   28    0  33.000         3       0   4449.46200
3   33    0  22.705         0       0  21984.47061
4   32    0  28.880         0       0   3866.85520

In [4]:
#Exporting data to arrays x, y
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
#Spliting data 
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.25)

In [5]:
#Least squares model
lr_model = linear_model.LinearRegression()
lr_model.fit(x_train, y_train)
print('LINEAR MODEL')
print('y =' , float(lr_model.coef_[0]) , '* x1 +' , float(lr_model.coef_[1]) , '* x2 +' ,\
      float(lr_model.coef_[2]) , '* x3 +' , float(lr_model.coef_[3]) , '* x4 +\n' ,\
      float(lr_model.coef_[4]) , '* x5 +' , float(lr_model.intercept_))
print('Training score: {}'.format(lr_model.score(x_train, y_train)))
print('Test score: {}'.format(lr_model.score(x_test, y_test)))
y_pred = lr_model.predict(x_test)

LINEAR MODEL
y = 258.2881113613871 * x1 + 342.53618047830275 * x2 + 333.6764215794442 * x3 + 507.71020528627616 * x4 +
 24393.331388499155 * x5 + -12777.839216533741
Training score: 0.7632418201773771
Test score: 0.7030383254390458

In [6]:
#Least squares error
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
print('RMSE: {}'.format(rmse))

RMSE: 6363.825465647526

In [7]:
x_request = np.array([28,0,33.0,3,0])
print(lr_model.predict(x_request.reshape(1,-1)))

[6988.68042957]